/* Ajuste interno do bloco */
.swagger-ui .opblock .opblock-body {
  padding: 15px 20px;
}

/* Ajuste no título da seção */
.swagger-ui .opblock .opblock-body h4,
.swagger-ui .opblock .opblock-body h3 {
  margin-bottom: 10px;
}

/* Para caixas como Request Body e Responses */
.swagger-ui .opblock .opblock-body > div {
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  background: #f9f9f9;
}

.swagger-ui input[type="text"], .swagger-ui textarea {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 5px 0;
  min-width: 100px;
  padding: 8px 10px;
}

.swagger-ui input[type="number"], .swagger-ui textarea {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 5px 0;
  min-width: 100px;
  padding: 8px 10px;
}